# {{ ansible_managed }}

[Unit]
Description=Monasca Persister
Requires=network.manager
After=network.manager

[Service]
Type=simple
User={{ persister_user }}
Group={{ persister_group }}
Restart=on-failure
ExecStart={{ monasca_persister_virtualenv_dir }}/bin/monasca-persister --config-file {{ persister_conf_file }}

[Install]
WantedBy=multi-user.target
