# {{ ansible_managed }}

# Startup script for the mon-persister

description "Monasca Persister"
start on runlevel [2345]

console log
respawn

setgid {{ persister_group }}
setuid {{ persister_user }}
exec {{ monasca_persister_virtualenv_dir }}/bin/monasca-persister --config-file {{ persister_conf_file }}
