# {{ ansible_managed }}

name: monasca-persister

alarmHistoryConfiguration:
  batchSize: 100
{% if database_type == "cassandra" %}
  commitBatchTime: 10000
{% endif %}
  numThreads: {{ monasca_persister_alarm_history_threads | int }}
  maxBatchTime: 15
# See http://kafka.apache.org/documentation.html#api for semantics and defaults.
  topic: alarm-state-transitions
  groupId: 1_alarm-state-transitions
  consumerId: "{{ ansible_fqdn }}"
  clientId : 1

metricConfiguration:
{% if database_type == "cassandra" %}
  batchSize: 100
  commitBatchTime: 10000
{% else %}
  batchSize: 10000
{% endif %}
  numThreads: {{ monasca_persister_metric_threads | int }}
  maxBatchTime: 15
# See http://kafka.apache.org/documentation.html#api for semantics and defaults.
  topic: metrics
  groupId: 1_metrics
  consumerId: "{{ ansible_fqdn }}"
  clientId : 1

#Kafka settings.
kafkaConfig:
# See http://kafka.apache.org/documentation.html#api for semantics and defaults.
  zookeeperConnect: "{{ zookeeper_hosts }}"
  socketTimeoutMs: 30000
  socketReceiveBufferBytes : 65536
  fetchMessageMaxBytes: 1048576
  queuedMaxMessageChunks: 10
  rebalanceMaxRetries: 4
  fetchMinBytes:  1
  fetchWaitMaxMs:  100
  rebalanceBackoffMs: 2000
  refreshLeaderBackoffMs: 200
  autoOffsetReset: largest
  consumerTimeoutMs:  1000
  zookeeperSessionTimeoutMs : 60000
  zookeeperConnectionTimeoutMs : 60000
  zookeeperSyncTimeMs: 2000

verticaMetricRepoConfig:
  maxCacheSize: 2000000

databaseConfiguration:
# vertica | influxdb
  databaseType: {{ database_type }}

# Uncomment if databaseType is influxdb
{% if database_type == "influxdb" %}
influxDbConfiguration:
  # Retention policy may be left blank to indicate default policy.
  retentionPolicy:
  maxHttpConnections: 100
  gzip: true
  name: "{{ influxdb_db }}"
  url: "{{ influxdb_url }}"
  user: "{{ influxdb_user }}"
  password: "{{ influxdb_password }}"
{% endif %}

{% if database_type == "cassandra" %}
cassandraDbConfiguration:
  # Retention policy may be left blank to indicate default policy.
  contactPoints:
{% for item in cassandra_hosts.split(',') %}
    - {{ item }}
{% endfor %}
  consistencyLevel: {{ persister_consistency_level }}
  port: {{ cassandra_port }}
  user: {{ cassandra_mon_persister_role }}
  password: {{ cassandra_mon_persister_password }}
  keyspace: monasca
  localDataCenter: datacenter1
  maxConnections: 5
  maxRequests: 2048
  # socket time out in milliseconds when creating a new connection
  connectionTimeout: 5000
  # how long the driver waits for a response from server. Must be
  # longer than the server side timeouts in the cassandra.yaml
  readTimeout: 60000
{% endif %}

{% set vertica_persister_user = [] %}
{% if vertica_users is defined %}
{% for item in vertica_users %}
{% if item.role == 'monasca_persister'%}
{% if vertica_persister_user.append(item) %}{% endif %}
{% endif %}
{% endfor %}
{% endif %}

# Uncomment if databaseType is vertica
dataSourceFactory:
  driverClass: com.vertica.jdbc.Driver
  url: "{{ vertica_url | default('jdbc:vertica://localhost:5433/mon') }}"
{% if vertica_persister_user|count == 0%}
  user: mon_persister
  password: password
{% else %}
  user: "{{ vertica_persister_user[0].username }}"
  password: "{{ vertica_persister_user[0].password }}"
{% endif %}
  properties:
      ssl: false
  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 1s
  # the SQL query to run when validating a connection's liveness
  validationQuery: "/* MyService Health Check */ SELECT 1"
  # the minimum number of connections to keep open
  minSize: 8
  # the maximum number of connections to keep open
  maxSize: 41
  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false
  # the maximum lifetime of an idle connection
  maxConnectionAge: 1 minute

metrics:
  frequency: 1 second


# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO,
  # DEBUG, TRACE, or ALL.
  level: {{ monasca_log_level }}

  # Logger-specific levels.
  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
      com.example.app: DEBUG
    # com.hpcloud: debug
    # com.hpcloud.mon.persister.repository: DEBUG

  appenders:

    - type: file
      threshold: INFO
      archive: true
      currentLogFilename: "{{ persister_log_dir }}/monasca-persister.log"
      archivedLogFilenamePattern: "{{ persister_log_dir }}/monasca-persister.log-%d.log.gz"
      archivedFileCount: 5
      # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC

server:
  applicationConnectors:
    - type: http
      port: {{ persister_app_connector_port }}
  adminConnectors:
    - type: http
      port: {{ persister_admin_connector_port }}
{% if ansible_processor_vcpus > 32 %}
# Dropwizard 0.7.0 includes a version of Jetty with admin thread issues on large machines, this works around it
  adminMaxThreads: {{ ansible_processor_vcpus * 2 }}
{% endif %}
